.page-home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-home{
    border-radius: 25px !important;
    min-width: 800px !important;
    max-width: 1000px !important;
    margin-top: 100px;
}

.tittle-card{
    text-align: center;
}

.btn-buy{
    height: 60px !important;
    font-size: 30px !important;
}