.page-home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-home {
    border-radius: 25px !important;
    min-width: 800px !important;
    max-width: 1000px !important;
    margin-top: 100px;
}

.tittle-card {
    text-align: center;
}

#btn {
    text-align: center;
}

.btn-buy {
    height: 60px !important;
    font-size: 20px !important;
    width: 80% !important;
}

.frete {
    width: 80%;
    background-color: #3ab4549d;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    color: #1f831b;
    height: 30px;
    font-weight: bolder;
}

.div-btn {
    display: flex;
    justify-content: center;
}
/* .prod-card{
    width: 100%;
    justify-content: flex-start;
} */
